body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

input, textArea, text, label, legend, select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

fieldSet {
	width: 350px;
}

a {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}

a:link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}

a:visited {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}

a:hover {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}

.menuBar {
	border-right: #909090 2px solid;
	padding-right: 2px;
	border-top: #F0F0F0 2px solid;
	padding-left: 2px;
	padding-bottom: 4px;
	border-left: #F0F0F0 2px solid;
	padding-top: 4px;
	border-bottom: #909090 2px solid;
	backGround-color: #D0D0D0;
	text-align: left;
}

.menuItem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: ACBCCF;
	text-align: left;
	width: 100px;
	border: 1px solid #000000;
}

.iFrame 
{
	border-right: #FFFFFF 1px solid;
	border-top: #404040 1px solid;
	border-left: #404040 1px solid;
	border-bottom: #FFFFFF 1px solid;
	vertical-align: top;
}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
}
